<div class="card-wrapper collection-card-wrapper">
    <div class="card
        card--card
        card--media
        color-background-2 gradient">
        <a href="{{ product_product.url }}" class="group">
            {% if product_product.featured_image %}
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-none bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                    <img src="{{ product_product.featured_image | img_url: 'medium' }}" alt="{{ product_product.featured_image.alt }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'h-full w-full object-cover object-center group-hover:opacity-75' }}      
            {% endif %}

            <h3 class="mt-4 text-sm text-gray-700">{{ product_product.title }}</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">{{ product_product.money | money }}</p>
        </a>
    </div>
</div>

{% comment %} {% render 'product-card', product_product: product, vendor_name: section.settings.vendor_name %} {% endcomment %}
