<div class="faq-page">
    <div class="faq-page-width">
        <div class="faq-page-header">
            <h1>{{ page.title }}</h1>
            <div class="fap-page-header-content">
                {{ page.content }}
            </div>
        </div>

        <div class="faq-page-body">
            {% for block in section.blocks %}
                {% if block.type == 'category' %}
                    <h2 class="faq-page-category">{{ block.settings.title }}</h2>
                {% else %}
                    <div class="faq-page-question">
                        <header class="faq-page-question">
                            <h3>{{ block.settings.title }}</h3>
                        </header>
                        <div class="faq-page-question-body">
                            {{ block.settings.body }}
                        </div>

                    </div>
                    
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<style>
    .faq-page{
        padding: 60px 0;
    }

    .faq-page-width {
        max-width: 500px;
        margin: 0 auto;
        width: calc(100% - 40px);
    }

    .faq-page-header {
        padding-bottom: 40px;

    }

    .faq-page-header h1 {
        font-size: 44px;
        margin-bottom: 10px;

    }

    .faq-page-header-content {
        font-size: 21px;
    }

    .faq-page-catergory{
        text-transform: uppercase;
        opacity: 0.4;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .faq-page-question{
        border-bottom: 1px solid #ddd;
    }

    .faq-page-question-header{
        padding: 15px 0;

    }

    .faq-page-question-header h3{
            font-size: 18px;
    }

    .faq-page-question-body{
            display: none;
    }


</style>




{% schema %}
    {
        "name": "FAQ",
        "settings": [],
        "blocks": [
            {
                "type": "category",
                "name": "Category",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Category title"
                    }
                ]
            },
            {
                "type": "question",
                "name": "Question",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Question title"
                    },
                    {
                        "type": "richtext",
                        "id": "body",
                        "label": "Question body"
                    }
                ]
            }
        ]
    }
{% endschema %}