<div class="container mx-auto">
    <div>
        <h3 class="text-center">{{ page.title }}</h3>
    </div>
    <ul class="accordion">
        {% for block in section.blocks %}
            <li>
                <input type="checkbox" name="accordion" id="faq-{{ block.id }}">
                <label for="faq-{{ block.id }}">{{ block.settings.title }}</label>
                <div class="content">
                    <p>{{ block.settings.answer }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<style>
    .accordion {
        margin: 60px auto;
        width: 100%;
        max-width: 600px;
    }

    .accordion li {
        list-style: none;
        margin-bottom: 20px;
        background: #f5f9fc;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }

    .accordion li label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }

    .content {
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s , padding 0.5s;
    }

    input[type="checkbox"]:checked + label + .content {
        max-height: 400px;
        padding: 10px;
    }

    .accordion input[type="checkbox"]:checked + label::before {
        content: ' -';
    }

    @media (max-width: 768px) {
        .accordion li {
            margin-bottom: 15px;
        }
    }
</style>

{% schema %}
{
    "name": "FAQ",
    "blocks": [
        {
            "name": "FAQ Items",
            "type": "faq",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "FAQ Title Example"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        }
    ]
}
{% endschema %}
